<!DOCTYPE html>
<html>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?79096ca0d1067db8a662de9df3dddece";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />

  <title>About ICABST|Intorduction--2019 International Conference On Advances in Biological Science and Technology(ICABST2019)</title>
  <meta name="keywords" content="ICABST,ICABST2019,biomaterial,biomedical,About,Biotechnology,conference,bioengineering,biotechnology conference,Bangkok,Thailand,Asia" />
  <meta name="description" content="ICABST2019 will be held in Bangkok during Dec. 26-28, 2019" />
  <meta name="robots" content="index,follow" />
  <meta http-equiv="x-dns-prefetch-control" content="on">
	<link rel="icon" href="../img/icon.png" type="image/x-icon">
  <link rel="stylesheet" href="../css/public.css" />
  <link rel="stylesheet" href="../css/bootstrap.min.css" />
  <link rel="stylesheet" href="../css/style.css"/>
  <link rel="stylesheet" href="../css/main-zh.css"/>
  <link rel="stylesheet" href="../css/global.css"/>
  <link rel="stylesheet" href="../lib/layui/css/layui.css">
  <script type="text/javascript" src="/lib/layui/layui.js" charset="utf-8"></script>
  <script type="text/javascript" src="../js/jquery-1.11.1.min.js" ></script>
  <script type="text/javascript" src="../js/superslide.2.1.js" ></script>
  <script type="text/javascript" src="../js/js.js" ></script>
</head>
<body>
<div class="width-100 all_bg">
  <!--header star-->
  <div class="header">



    <header class="img">
      <div>
        <div class="w-1200">
          <div style="width:25%;height:200px; float:left;display:inline-block;">
            <img style="width: 200px;height: 200px;" src="../img/ICABST_LOGO2.png">
          </div>
          <div style="width:75%;height:200px; float:left;display:inline-block;">
            <p class="banner_p" style="font-family:'Times New Roman'; line-height: 50px" align="right">
              International Conference on Advances in Biological<br/>
							Science and Technology<br/>
							<i>Bangkok, Thailand -- December 26-28, 2019</i>
            </p>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </header>
  </div>


   <div class="navs">
    <ul class="menus mg-ctr">
      <li><a title="ICABST2019" href="/">Home</a></li>
      <li><a title="About" href="/about">About</a></li>
      <li><a title="Organization" href="/organization">Organizer</a></li>
      <li><a title="Speaker" href="/speakers">Speaker</a></li>
      <li style="width: 140px"><a title="Submission" href="/submission">Submission</a></li>
			<li><a title="Program" href="/program">Program</a></li>
      <li style="width: 140px"><a title="Registration" href="/registration">Registration</a></li>
      <li><a title="Venue" href="/venue">Venue</a></li>
    	<li><a title="Chinese" href="/cn">CHINESE</a></li>
    </ul>
  </div>
  
  </div>
  <!--header end-->

  <div class="w-1200 bg_white pt-30">

    <div class="page; lh-40" style="text-align: justify; font-family:'Times New Roman'; font-size: 20px">
      <div class="page_left col-6-5 fl" style="border-right: 2px dashed; border-color: #c3bfbf; padding: 10px;">
        <div class="background4" style="padding-left:55px; padding-bottom: 10px;">About</div>
        <div class="public_p pb-20 pl-30">
					<p>
					  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>2019 International Conference on Advances in Biological Science and Technology</strong> is organized by Asia-Pacific Association of Natural Science and Engineering,
						will be held in Bangkok, Thailand during December 26-28, 2019. 
					</p>
					<p>
						 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;As an annual gathering, it provides an extensive platform for scientists, researchers and scholars to present their research results and newest findings
						 in all fields of Biological Science and Technology, discuss the practical challenges encountered recommend better solutions for biotechnology. 
						 ICABST2019 will include keynote speeches, invited speeches, oral presentations and poster presentations. 
						 The conference certification will be issued to all attendees including listeners. 
					</p>
					<!--p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;For all submitted abstracts, after peer review, accepted ones will be printed in conference program and abstract book. 
					ICABST2019 has been collected by Nature Events (www.nature.com), ScienceNet, CNKI, AIP Conference Proceedings, IOP Conference Series and other academic affiliations.
					</p-->
					<p>
					  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Please circulate ICABST2019 to the attention of any of your colleagues who may be interested in participating 
						(<a href="/cn/download/flyer.pdf" target="_blank" style="color: #102cf7"><u>click to download conference flyer</u></a>). 
						We sincerely invite you to join us and hope you will have a fruitful experience during your stay in Thailand! 
					</p>
          <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            
          </p>

          <p><strong>Important Dates</strong></p>
          <p>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Check-in Time: A. December 26, 2019 ---- 15:00-17:00</br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B. December 27, 2019 ---- 8:00-8:40
					</p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Abstract Deadline: Oct. 20, 2019</p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Registration Deadline: Oct. 31, 2019 (After Nov.1, only Late Registration Type available)</p>
					
					<p><strong>For more information about visa, traffic, accommodation and others, please click <a title="Venue" class="pointer" href="/venue" style="color: #102cf7" target="_blank"><u>Venue</u></a> for details.</strong></p>
        </div>

        <div class="background4" style="padding-left:55px; padding-bottom: 10px;">Topics</div>
        <div class="public_p pb-20 pl-30">
          <p>
            Researchers and scholars are encouraged to submit original and unpublished contributions. 
						All submitted papers will go through the peer review process, and acceptance will be based on the quality, originality, language and relevance.
					</p>
					<p>
					The topics of interest include but are not limited to: 
					</p>
            <p>1. Molecular Biology</p>
            <p>2. Biomedicine, Biopharmaceuticals and Pharmacology</p>
            <p>3. Biomechanics and Biomechanical Engineering</p>
            <p>4. Biomaterials and Biomedical materials</p>
            <p>5. Biochemistry</p>
            <p>6. Agricultural, Food, Animal and Plant Science</p>
            <p>7. Other Related Topics</p>

        </div>
        <div class="background4" style="padding-left:55px; padding-bottom: 10px;">About Presentations</div>
        <div class="public_p pb-20 pl-30">
          <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ICABST2019 will include keynote speeches, invited speeches, oral presentations and poster presentations. 
						The conference certification will be issued to all attendees including listeners.
						All scientists, scholars, researchers are encouraged to participate the conference for further communication on latest researches, technologies and advanced topics.
          </p>
          <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;If anyone who want to make presentation, please finish the submission by <a class="pointer" href="/submit" target="_blank" style="color: #102cf7"><u>Online Submission System</u></a>. 
						The committee will reply in 7-10 working days. 
					</p>
        </div>
				
        <div class="background4" style="padding-left:55px; padding-bottom: 10px;">Liability and Insurance</div>
        <div class="public_p pb-20 pl-30">
          <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The conference and organizers are not liable for any injury or damage involving persons and property during the conference. 
						Participants are strongly advised to take out their own personal travel and health insurance for their trip.
          </p>
        </div>
      </div>
    <div class="page_right col-4-1 fr mr-25">
			<div class="; lh-80" style="border-bottom: 2px dashed; border-color: #c3bfbf; padding: 10px;">
			  <ul>
			    <li><a class="pointer" href="/submit" target="_blank"><img src="../img/abstractsubmission.png" height="68px"></a></li>
			    <li><a class="pointer" href="/cn/download/ICABST-Registration-Form.xlsx" target="_blank"><img src="../img/registrationfrom.png" height="68px"></a></li>
			    <li><a class="pointer" href="/cn/download/ICABST-Abstract-Template.doc" target="_blank"><img src="../img/abstracttemplete.png" height="68px"></a></li>
			    <li><a class="pointer" href="/cn/download/ICABST-Poster-Template.pptx" target="_blank"><img src="../img/postertemplete.png" height="68px"></a></li>
			    <div class="clear"></div>
			  </ul>
			</div>
        <div class="f-24 text-center pt-20 pb-20 color-03 f-b">Important Dates</div>
				<div class="pb-10">
        <ul>
            <p>Abstract Deadline: Oct. 20, 2019</p>
						<p>Reg. Deadline: Oct. 31, 2019</p>
						<p>Acceptance: 7-10 working days</p>
						<p>Conf. Date: Dec. 26-28, 2019</p>
        </ul>
				</div>
      <div style="border-top: 2px dashed; border-bottom: 2px dashed; border-color: #c3bfbf; padding: 10px;">
        <div class="f-24 text-center pt-20 pb-20 color-03 f-b">Organizers</div>
        <ul>
            <p>Asia-Pacific Association of Natural Science and Engineering</p>
        </ul>
      </div>
        <div class="f-24 text-center pt-20 pb-20 color-03 f-b">Contact</div>
        <ul>
            <p>Secretary: Jason Sun, Alex Liu</p>
						<p>Email: icabst@apanse.com</p>
            <p>Phone: 86-0371-63226982</p>
            <p>Mobile: +86-18137471420</p>
            <p>Wechat: APANSE</p>
        </ul>
    </div>
      
      <div class="clear"></div>


    </div>

  </div>

<!--footer-->
<footer class="main-footer">
  <div class="text-center lh-36 footer w-1200">
    <p style="font-family:'Times New Roman';font-weight:bold">2019 Int'l Conf. On Advances in Biological Science and Technology (ICABST2019)<br/>
		Conference Secretary: Jason Sun; Assistant: Alex Liu<br/>
		Email: icabst@apanse.com; contact@apanse.com;    Tel.: +86-0371-63226982; Cellphone: +86-18137471420<br/>Copyright © APANSE All rights reserved.
		</p>
  </div>
</footer>



</div>

<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>

</body>
</html>
