<!DOCTYPE html>
<html>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?79096ca0d1067db8a662de9df3dddece";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />

  <title>ICABST Organization|Organizers--2019 International Conference On Advances in Biological Science and Technology(ICABST2019)</title>
  <meta name="keywords" content="ICABST,Organizer,Biotechnology,conference,bioengineering,biotechnology conference,Bangkok,Thailand,Asia" />
  <meta name="description" content="ICABST2019 will be held in Bangkok during Dec. 26-28, 2019" />
  <meta name="robots" content="index,follow" />
  <meta http-equiv="x-dns-prefetch-control" content="on">
	<link rel="icon" href="../img/icon.png" type="image/x-icon">
  <link rel="stylesheet" href="../css/public.css"/>
  <link rel="stylesheet" href="../css/bootstrap.min.css"/>
  <link rel="stylesheet" href="../css/style.css"/>
  <link rel="stylesheet" href="../css/main-zh.css"/>
  <link rel="stylesheet" href="../css/global.css"/>
  <link rel="stylesheet" href="../lib/layui/css/layui.css">
  <script type="text/javascript" src="/lib/layui/layui.js" charset="utf-8"></script>
  <script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="../js/superslide.2.1.js"></script>
  <script type="text/javascript" src="../js/js.js"></script>
</head>
<body>
<div class="width-100 all_bg">
  <!--header star-->
  <div class="header">



    <header class="img">
      <div>
        <div class="w-1200">
          <div style="width:25%;height:200px; float:left;display:inline-block;">
            <img style="width: 200px;height: 200px;" src="../img/ICABST_LOGO2.png">
          </div>
          <div style="width:75%;height:200px; float:left;display:inline-block;">
            <p class="banner_p" style="font-family:'Times New Roman'; line-height: 50px" align="right">
              International Conference on Advances in Biological<br/>
							Science and Technology<br/>
							<i>Bangkok, Thailand -- December 26-28, 2019</i>
            </p>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </header>
  </div>


   <div class="navs">
    <ul class="menus mg-ctr">
      <li><a title="ICABST2019" href="/">Home</a></li>
      <li><a title="About" href="/about">About</a></li>
      <li><a title="Organization" href="/organization">Organizer</a></li>
      <li><a title="Speaker" href="/speakers">Speaker</a></li>
      <li style="width: 140px"><a title="Submission" href="/submission">Submission</a></li>
			<li><a title="Program" href="/program">Program</a></li>
      <li style="width: 140px"><a title="Registration" href="/registration">Registration</a></li>
      <li><a title="Venue" href="/venue">Venue</a></li>
    	<li><a title="Chinese" href="/cn">CHINESE</a></li>
    </ul>
  </div>
        
</div>
<!--header end-->

<div class="w-1200 bg_white pt-30">

  <div class="page" style="text-align: justify; font-family:'Times New Roman'; font-size: 20px">
    <div class="page_left col-6-5 fl" style="border-right: 2px dashed; border-color: #c3bfbf; padding: 10px;">
      <div class="background4 lh-40" style="padding-left:55px; padding-bottom: 10px;">Organizers</div>
      <div class="public_p pb-20 pl-30 lh-40">
        <p>
          <strong>Asia-Pacific Association on Natural Science and Engineering</strong>
        </p>
      </div>

      <!--div class="background4 lh-40" style="padding-left:55px; padding-bottom: 10px;">Conference Chairs</div>
      <div class="public_p pb-20">
        <p>
					<strong>Conference Chair:</strong>
				</p>
        <p>
          <strong>Program Chair:</strong>
        </p>
        <p>
					<strong>Honorary Chair:</strong>
				</p>
      </div>
			
				<div class="background4 lh-40" style="padding-left:55px; padding-bottom: 10px; font-family:'Times New Roman';">Organizing Committee</div>
				<div class="public_p pb-20 pl-30">
					<p>
			    </p>
				</div-->
			
				<div class="background4 lh-40" style="padding-left:55px; padding-bottom: 10px; font-family:'Times New Roman';">Scientific Committee</div>
				<div class="public_p pb-20 pl-30 lh-20">
					<p>
					Andrea Scribante, University of Pavia, Italy <br/>
					Anna Ardévol, Universitat Rovira i Virgili, Spain <br/>
					Ching-An Peng, University of Idaho, USA <br/>
					Christophis Koroneos , University of Western Macedonia, Greece <br/>
					Dinh-Toi Chu, University of Oslo, Norway <br/>
					Domenico Lombardo, CNR - (Consiglio Nazionale delle Ricerche), Italy <br/>
					Farhad Memarzadeh, National Institutes of Health, USA <br/>
					Gary Sweeney, York University, Canada <br/>
					Gerrit Schüürmann, Technical University Bergakademie Freiberg, Germany <br/>
					Gohar Mushtaq, King Abdulaziz University, Saudi Arabia <br/>
					Jason Guowei Sun, Asia-Pacific Association of Natural Science and Engeineering, China <br/>
					Khalid Rehman Hakeem, Universiti Putra, Malaysia <br/>
					KIKUCHI Masumi, University of Tokyo, Japan <br/>
					Nagendra Kumar Kaushik, Kwangwoon University, Korea <br/>
					Suhaimi Suratman, Institute of Oceanography and Environment, Malaysia <br/>
					Thi Thuy Pham, VNU-University of Science, Vietnam <br/>
			    </p>
				</div>
      <div class="background4 lh-40" style="padding-left:55px; padding-bottom: 10px; font-family:'Times New Roman';">Review Committee</div>
      <div class="public_p pb-20 pl-30 lh-20">
					<p>
					Agnès Drochon, National Center for Scientific Research, France <br/>
					Ahmad Zahedi, James Cook University, Australia <br/>
					Ahmed Saber Abu-zaiton, Al-albayt University, Jordan <br/>
					Alex Liu, Asia-Pacific Association of Natural Science and Engeineering, China <br/>
					AMAL AL-ABOUDI, University of Jordan, Jordan <br/>
					Ivaylo Christov, Institute of Biophysics and Biomedical Engineering, Bulgaria <br/>
					Kesaven Bhubalan, Universiti Malaysia Terengganu, Malaysia <br/>
					Le Nguyen Quoc Khanh, Nanyang Technological University, Singapore <br/>
					Leyser Rodrigues Oliveira University Centre of Formiga, Brazil <br/>
					Midhat Nabil Ahmad Salimi, Universiti Malaysia Perlis (UniMAP), Malaysia <br/>
					Pajaree Thongsanit, Naresuan University, Thailand <br/>
					Palanisamy Sivanandy, International Medical University(IMU), Malaysia<br/>
					Roshni Paul, Birmingham City University, UK
        </p>
				</div>

      <div class="background4 lh-40" style="padding-left:55px; padding-bottom: 10px;">Supporters / Media Links</div>
      <div class="sponsors pl-30">
       <div class="hxx"></div>
      <ul>
        <li><img src="../img/1--APANSE.png"/></li>
        <li><a href="https://www.nature.com/natureevents/science/events/91255-International_Conference_on_Advances_in_Biological_Science_and_Technology" target="_blank"><img src="../img/2--nature-events.png"/></li>
        <!--li><img src="../img/3--cnki-logo.gif"/></li>
        <li><img src="../img/4--sciencemeeting-logo.jpg"/></li-->
        <li><a href="http://www.brownwalker.com/event/22133" target="_blank"><img src="../img/5--bwp-logo.png"/></a></li>
        <!--li><img src="../img/6--LOGO_EBW.jpg"/></li>
				<li><img src="../img/7--IOP.png"/></li-->
				<li><img src="../img/8--AIP.png"/></li>
				<li><a href="http://wikicfp.com/cfp/servlet/event.showcfp?eventid=91287&copyownerid=153102" target="_blank"><img src="../img/9--wikicfp.png"/></a></li>
				<li><a href="https://billetto.co.uk/e/international-conference-on-advances-in-biological-science-and-technology-tickets-368790" target="_blank"><img src="../img/10--billetto.png"/></a></li>
				<li><a href="https://conferencealarm.com/Event_Details.php?pendingeventid=11452" target="_blank"><img src="../img/11--conferencealarm.png"/></a></li>
				<li><a href="http://meeting.dxy.cn/article/620176" target="_blank"><img src="../img/12--dingxiang.png"/></a></li>
				<li><a href="https://www.science-community.org/en/node/205354" target="_blank"><img src="../img/13--science-committee.png"/></a></li>
				<li><a href="http://membs.org/membs/news/event_details/-international-conference-on-advances-in-biological-science-and-technology-icabst2019" target="_blank"><img src="../img/14--membs.png"/></a></li>
        <div class="clear"></div>
      </ul>
      </div>
      </div>
    </div>
    <div class="page_right col-4-1 fr mr-25 lh-40" style="text-align: justify; font-family:'Times New Roman'; font-size: 20px">
			<div class="; lh-80" style="border-bottom: 2px dashed; border-color: #c3bfbf; padding: 10px;">
			  <ul>
			  <li><a class="pointer" href="/submit" target="_blank"><img src="../img/abstractsubmission.png" height="68px"></a></li>
			  <li><a class="pointer" href="/cn/download/ICABST-Registration-Form.xlsx" target="_blank"><img src="../img/registrationfrom.png" height="68px"></a></li>
			  <li><a class="pointer" href="/cn/download/ICABST-Abstract-Template.doc" target="_blank"><img src="../img/abstracttemplete.png" height="68px"></a></li>
			  <li><a class="pointer" href="/cn/download/ICABST-Poster-Template.pptx" target="_blank"><img src="../img/postertemplete.png" height="68px"></a></li>
			  <div class="clear"></div>
			  </ul>
			</div>
        <div class="f-24 text-center pt-20 pb-20 color-03 f-b">Important Dates</div>
				<div class="pb-10">
        <ul>
            <p>Abstract Deadline: Oct. 20, 2019</p>
						<p>Reg. Deadline: Oct. 31, 2019</p>
						<p>Acceptance: 7-10 working days</p>
						<p>Conf. Date: Dec. 26-28, 2019</p>
        </ul>
				</div>
      <div style="border-top: 2px dashed; border-bottom: 2px dashed; border-color: #c3bfbf; padding: 10px;">
        <div class="f-24 text-center pt-20 pb-20 color-03 f-b">Organizers</div>
        <ul>
            <p>Asia-Pacific Association of Natural Science and Engineering</p>
        </ul>
      </div>
        <div class="f-24 text-center pt-20 pb-20 color-03 f-b">Contact</div>
        <ul>
            <p>Secretary: Jason Sun, Alex Liu</p>
						<p>Email: icabst@apanse.com</p>
            <p>Phone: 86-0371-63226982</p>
            <p>Mobile: +86-18137471420</p>
            <p>Wechat: APANSE</p>
        </ul>
    </div>
    <div class="clear"></div>


  </div>

</div>

<!--footer-->
<footer class="main-footer">
  <div class="text-center lh-36 footer w-1200">
    <p style="font-family:'Times New Roman';font-weight:bold">2019 Int'l Conf. On Advances in Biological Science and Technology (ICABST2019)<br/>
		Conference Secretary: Jason Sun; Assistant: Alex Liu<br/>
		Email: icabst@apanse.com; contact@apanse.com;    Tel.: +86-0371-63226982; Cellphone: +86-18137471420<br/>Copyright © APANSE All rights reserved.
		</p>
  </div>
</footer>


</div>

<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>

</body>
</html>
