<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=1200" name="viewport">

  <title>Registration</title>
  <meta name="keywords" content="Registration"/>
  <meta name="description" content="Registration"/>
	<link rel="icon" href="../img/icon.png" type="image/x-icon">
  <link rel="stylesheet" href="../css/public.css"/>
  <link rel="stylesheet" href="../css/bootstrap.min.css"/>
  <link rel="stylesheet" href="../css/style.css"/>
  <link rel="stylesheet" href="../css/main-zh.css"/>
  <link rel="stylesheet" href="../css/global.css"/>
  <link rel="stylesheet" href="../lib/layui/css/layui.css">
  <script type="text/javascript" src="../lib/layui/layui.js" charset="utf-8"></script>
  <script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="../js/superslide.2.1.js"></script>
  <script type="text/javascript" src="../js/js.js"></script>
  <script type="text/javascript" src="../js/xadmin.js"></script>
</head>
<body>
<div class="width-100 all_bg">
  <!--header star-->
  <div class="header">


    <header class="img">
      <div>
        <div class="w-1200">
          <div style="width:25%;height:200px; float:left;display:inline-block;">
            <img style="width: 200px;height: 200px;" src="../img/ICABST_LOGO2.png">
          </div>
          <div style="width:75%;height:200px; float:left;display:inline-block;">
            <p class="banner_p" style="font-family:'Times New Roman'; line-height: 50px" align="right">
              International Conference on Advances in Biological<br/>
							Science and Technology<br/>
							<i>Bangkok, Thailand -- December 26-28, 2019</i>
            </p>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </header>
  </div>


   <div class="navs">
    <ul class="menus mg-ctr">
      <li><a title="ICABST2019" href="/">Home</a></li>
      <li><a title="About" href="/about">About</a></li>
      <li><a title="Organization" href="/organization">Organizer</a></li>
      <li><a title="Speaker" href="/speakers">Speaker</a></li>
      <li style="width: 140px"><a title="Submission" href="/submission">Submission</a></li>
			<li><a title="Program" href="/program">Program</a></li>
      <li style="width: 140px"><a title="Registration" href="/registration">Registration</a></li>
      <li><a title="Venue" href="/venue">Venue</a></li>
    	<li><a title="Chinese" href="/cn">CHINESE</a></li>
    </ul>
  </div>
    
</div>
<!--header end-->

<div class="w-1200 bg_white pt-30">

  <div class="page; lh-40" style="text-align: justify; font-family:'Times New Roman'; font-size: 20px">
    <div class="page_left col-6-5 fl" style="border-right: 2px dashed; border-color: #c3bfbf; padding: 10px;">
      <div class="background4" style="padding-left:55px; padding-bottom: 10px;">Registration</div>
      <div class="public_p pb-20 pl-30">
        <p>ICABST2019 encourages students, scientists, researchers and scholars from the entire world to participate in the conference and share latest research.</p>
        <p>
          <strong>Registration Steps: </strong>
        </p>
        <p>
          1. Make submission by <a class="pointer" href="/submit" target="_blank" style="color: #102cf7"><u><strong>Online Submission System(Less than 10MB)</strong></u></a>, and choose registration type<br/>
					Or download the <a class="pointer" href="/cn/download/ICABST-Registration-Form.xlsx" target="_blank" style="color: #102cf7"><u>Registration Form</u></a>, fill the information needed and send it by email (icabst@apanse.com) with your abstract.
        </p>
        <p>
          2. The abstract will be processed for peer review by conference committee, if accepted the Acceptance Letter and Invoice will be issued in 7-10 working days.
        </p>
        <p>
          3. After receiving the acceptance and invoice, you should finish the payment of conference registration fee in time. As soon as your payment is finalized, you will receive a confirmation. Expected processing will be 1-3 days. 
        </p>
        <p>
          4. After payment, you will receive an e-copy of official receipt, and offical invitation letter.
        </p>
        <p>
          5. All registration steps finished. We will inform you about the latest progress and details of the conference once a month.
        </p>


      </div>

      <div class="background4" style="padding-left:55px; padding-bottom: 10px;">Registration Fee</div>
      <div class="public_p pb-20 pl-30">
        <table border="1" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
          <tbody>
          <tr>
            <th style=" height: 38px; width: 120px; text-align:center">Registration Type<br/>(Deadline)</th>
            <th style=" height: 38px; width: 120px; text-align:center">Standard Registration<br/>(Oct. 31)</th>
            <th style=" height: 38px; width: 120px; text-align:center">Late/On-site Registration<br/>(Dec. 25)</th>
            <th style=" height: 38px; text-align:center">Registration Entitlement</th>
          </tr>
          <tr>
            <th style="height: 38px; text-align:center">Non-Student</th>
            <td style="height: 38px;" align="center">450 USD</td>
            <td style="height: 38px;" align="center">520 USD</td>
            <td rowspan="3" style="height: 38px;" align="center">Conference Material, Program and Abstract Book, <br/>
						Certification, Lunch for Dec. 27 & 28, <br/>
						Access to all technical sessions and coffee breaks </td>
          </tr>
          <tr>
            <th style="height: 38px; text-align:center">Student</th>
            <td style="height: 38px;" align="center">400 USD</td>
            <td style="height: 38px;" align="center">470 USD</td>
          </tr>
          <tr>
            <th style="height: 38px; text-align:center">Company</th>
            <td style="height: 38px;" align="center">600 USD</td>
            <td style="height: 38px;" align="center">700 USD</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="public_p pb-20 pl-30">
        <p><strong>Notes</strong></p>
        <p>1. To facilitate processing, participants should clearly quote the invoice number in the remittance receipt so that our Finance team can identify the payment easily, e.g."ICABST0001". </p>
				<p>2. After payment, please send the copy of remittance receipt to conference secretary by icabst@apanse.com</p>
        <p>3. We provide three payment methods: (1)PayPal/Credit Card online (2)Bank transfer/Wire transfer and (3)Cash on-site.</p>
        <p>4. Cash on-site only apply the Late/On-site Registration Type.</p>
        <p>5. Handling fee (charged by bank or PayPal) should be covered by yourself.</p>
				<p>6. Your registration will NOT be confirmed until payment is received in full.</p>
				<p>7. The registration fee DOES NOT INCLUDE Accommodation fee, Transportation fee, and Visa application fee.</p>
      </div>
      <div class="background4" style="padding-left:55px; padding-bottom: 10px;">Cancellation Policy</div>
      <div class="public_p pb-20 pl-30">
        <p>
          If the registrant is unable to attend, and is not in a position to transfer his/her participation to another person, then the following refund arrangements apply. 
        </p>
        <p>
          1) Before Oct. 31, Full Refund
        </p>
        <p>
          2) During Nov. 1 and Nov. 30, 30-50% of payment Refund
        </p>
        <p>
          3) After Dec. 1, No Refund.
        </p>
        <p>
          *All cancellations must be made and received in writing.<br/>
					*For refund, the handling fee will be reduced.
        </p>
      </div>

    </div>
    <div class="page_right col-4-1 fr mr-25">
			<div class="; lh-80" style="border-bottom: 2px dashed; border-color: #c3bfbf; padding: 10px;">
			  <ul>
			    <li><a class="pointer" href="/submit" target="_blank"><img src="../img/abstractsubmission.png" height="68px"></a></li>
			    <li><a class="pointer" href="/cn/download/ICABST-Registration-Form.xlsx" target="_blank"><img src="../img/registrationfrom.png" height="68px"></a></li>
			    <li><a class="pointer" href="/cn/download/ICABST-Abstract-Template.doc" target="_blank"><img src="../img/abstracttemplete.png" height="68px"></a></li>
			    <li><a class="pointer" href="/cn/download/ICABST-Poster-Template.pptx" target="_blank"><img src="../img/postertemplete.png" height="68px"></a></li>
			    <div class="clear"></div>
			  </ul>
			</div>
        <div class="f-24 text-center pt-20 pb-20 color-03 f-b">Important Dates</div>
				<div class="pb-10">
        <ul>
            <p>Abstract Deadline: Oct. 20, 2019</p>
						<p>Reg. Deadline: Oct. 31, 2019</p>
						<p>Acceptance: 7-10 working days</p>
						<p>Conf. Date: Dec. 26-28, 2019</p>
        </ul>
				</div>
      <div style="border-top: 2px dashed; border-bottom: 2px dashed; border-color: #c3bfbf; padding: 10px;">
        <div class="f-24 text-center pt-20 pb-20 color-03 f-b">Organizers</div>
        <ul>
            <p>Asia-Pacific Association of Natural Science and Engineering</p>
        </ul>
      </div>
        <div class="f-24 text-center pt-20 pb-20 color-03 f-b">Contact</div>
        <ul>
            <p>Secretary: Jason Sun, Alex Liu</p>
						<p>Email: icabst@apanse.com</p>
            <p>Phone: 86-0371-63226982</p>
            <p>Mobile: +86-18137471420</p>
            <p>Wechat: APANSE</p>
        </ul>
    </div>
    
    <div class="clear"></div>


  </div>

</div>

<!--footer-->
<footer class="main-footer">
  <div class="text-center lh-36 footer w-1200">
    <p style="font-family:'Times New Roman';font-weight:bold">2019 Int'l Conf. On Advances in Biological Science and Technology (ICABST2019)<br/>
		Conference Secretary: Jason Sun; Assistant: Alex Liu<br/>
		Email: icabst@apanse.com; contact@apanse.com;    Tel.: +86-0371-63226982; Cellphone: +86-18137471420<br/>Copyright © APANSE All rights reserved.
		</p>
  </div>
</footer>


<script type="text/javascript">
  var _hmt = _hmt || [];
  (function () {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?1b2a9aec4c523c4bf017a7fdc9333187";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
</script>


</div>
</body>
</html>
