<!DOCTYPE html>
<html>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?79096ca0d1067db8a662de9df3dddece";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />

  <title>ICABST Submit|Sign Up--2019 International Conference On Advances in Biological Science and Technology(ICABST2019)</title>
  <meta name="keywords" content="ICABST,submission,submit,Biotechnology,conference,bioengineering,biotechnology conference,Bangkok,Thailand,Asia" />
  <meta name="description" content="ICABST2019 will be held in Bangkok during Dec. 26-28, 2019" />
  <meta name="robots" content="index,follow" />
  <meta http-equiv="x-dns-prefetch-control" content="on">
  <link rel="icon" href="../img/icon.png" type="image/x-icon">
  <link rel="stylesheet" href="../css/public.css"/>
  <link rel="stylesheet" href="../css/bootstrap.min.css"/>
  <link rel="stylesheet" href="../css/style.css"/>
  <link rel="stylesheet" href="../css/main-zh.css"/>
  <link rel="stylesheet" href="../css/global.css"/>
  <link rel="stylesheet" href="../lib/layui/css/layui.css">
  <script type="text/javascript" src="../lib/layui/layui.js" charset="utf-8"></script>
  <script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="../js/superslide.2.1.js"></script>
  <script type="text/javascript" src="../js/js.js"></script>
  <script type="text/javascript" src="../js/xadmin.js"></script>
</head>
<body>
<div class="width-100 all_bg">
    <!--header star-->
    <div class="header">


    <header class="img">
      <div>
        <div class="w-1200">
          <div style="width:25%;height:200px; float:left;display:inline-block;">
            <img style="width: 200px;height: 200px;" src="../img/ICABST_LOGO2.png">
          </div>
          <div style="width:75%;height:200px; float:left;display:inline-block;">
            <p class="banner_p" style="font-family:'Times New Roman'; line-height: 50px" align="right">
              International Conference on Advances in Biological<br/>
							Science and Technology<br/>
							<i>Bangkok, Thailand -- December 26-28, 2019</i>
            </p>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </header>
  </div>


   <div class="navs">
    <ul class="menus mg-ctr">
      <li><a title="ICABST2019" href="/">Home</a></li>
      <li><a title="About" href="/about">About</a></li>
      <li><a title="Organization" href="/organization">Organizer</a></li>
      <li><a title="Speaker" href="/speakers">Speaker</a></li>
      <li style="width: 140px"><a title="Submission" href="/submission">Submission</a></li>
			<li><a title="Program" href="/program">Program</a></li>
      <li style="width: 140px"><a title="Registration" href="/registration">Registration</a></li>
      <li><a title="Venue" href="/venue">Venue</a></li>
    	<li><a title="Chinese" href="/cn">CHINESE</a></li>
    </ul>
  </div>
        
</div>
<!--header end-->

<div class="w-1200 bg_white pt-30">

    <div class="page; lh-40" style="text-align: justify; font-family:'Times New Roman'; font-size: 20px">
        <div class="page_left col-6-5 fl" style="border-right: 2px dashed; border-color: #c3bfbf; padding: 10px;">
            <div class="background4" style="padding-left:55px; padding-bottom: 10px;">Introduction</div>
            <div class="public_p pb-20 pl-30">
                    <p>1. Abstract should be strictly within one A4 page in length apart from the cover letter page and containing at least 200 words.</p>
					<p>2. All Submissions should be in English, and no other language is acceptable.</p>
                    <p>3. You should fill all the information needed to finish the registration.</p>
                    <p>4. Or you can download the <a class="pointer" href="/cn/download/ICABST-Registration-Form.xlsx" target="_blank" style="color: #102cf7"><u>Registration Form</u></a>, fill the information needed and send it by email (icabst@apanse.com) with your abstract and CV.</p>
                    <p>5. After submission, the conference secretary will contact you in about 2 working days.</p>
            </div>
            <div class="background4" style="padding-left:55px; padding-bottom: 10px;">Online Submission System</div>
			<div class="public_p pb-20 pl-30">
					<div class="secondary-title f-b"></div>
                <form class="layui-form layui-form-pane">
                    <div class="layui-card">
                        <div class="layui-form-item three-level-title">
                            <strong>I, Personal Information (*required)</strong>
                        </div>
						
                        <div class="layui-form-item pr-20">
                                <input type="hidden" id="uploadFileUrlID" name="uploadFileUrl"
                                   autocomplete="off" class="layui-input">
                                <label for="usernameId" class="layui-form-label">
                                    <span class="x-red">*</span>Name
                                </label>
                                <div class="layui-input-block">
                                    <input type="text" id="usernameId" name="userName" required lay-verify="required"
                                        autocomplete="off" class="layui-input">
                                </div>
                        </div>
							
                        <div class="layui-form-item pr-20">
							<label for="phoneId" class="layui-form-label">
								<span class="x-red">*</span>Phone
							</label>
							<div class="layui-input-block">
								<input type="text" id="phoneId" name="phone" required lay-verify="required"
								autocomplete="off" class="layui-input">
							</div>
						</div>
						
						<div class="layui-form-item pr-20">
							<label for="positionId" class="layui-form-label"><span class="x-red">*</span>Title</label>
							<div id="positionId" class="layui-input-block">
								<select name="position" lay-verify="required" lay-filter="aihao">
								    <option value="0">Please Select</option>
									<option value="Prof.">Prof.</option>
								    <option value="Dr.">Dr.</option>
								    <option value="Mr.">Mr.</option>
								    <option value="Mrs.">Mrs.</option>
									<option value="Miss">Miss</option>
								</select>
							</div>
						</div>
						
						<div class="layui-form-item pr-20">
							<label for="qqId" class="layui-form-label">
								Mobile
							</label>
							<div class="layui-input-block">
								<input type="text" id="qqId" name="qq"
								utocomplete="off" class="layui-input">
							</div>
						</div>
						
						<div class="layui-form-item pr-20">
							<label for="emailId" class="layui-form-label">
								<span class="x-red">*</span>Email
							</label>
							<div class="layui-input-block">
								<input type="text" id="emailId" name="email" required lay-verify="required"
								autocomplete="off" class="layui-input">
							</div>
						</div>
						
						<div class="layui-form-item pr-20">
						    <label for="secondemailId" class="layui-form-label">
						        <span class="x-red">*</span>Alternative Email
						    </label>
						    <div class="layui-input-block">
						        <input type="text" id="secondemailId" name="secondemail" required lay-verify="required"
						            autocomplete="off" class="layui-input">
						    </div>
						</div>
						
						<div class="layui-form-item pr-20">
							<label for="countryId" class="layui-form-label">
								<span class="x-red">*</span>Country
							</label>
							<div class="layui-input-block">
								<input type="text" id="countryId" name="country" required lay-verify="required"
								autocomplete="off" class="layui-input">
							</div>
						</div>
						
						<div class="layui-form-item pr-20">
							<label for="hindexId" class="layui-form-label">
								H-index
							</label>
							<div class="layui-input-block">
								<input type="text" id="hindexId" name="hindex"
								autocomplete="off" class="layui-input">
							</div>
						</div>
						
						<div class="layui-form-item pr-20">
							<label for="researchFieldId" class="layui-form-label">
								<span class="x-red">*</span>Research Interests
							</label>
							<div class="layui-input-block">
								<input type="text" id="researchFieldId" name="researchField" required lay-verify="required"
								autocomplete="off" class="layui-input">
							</div>
						</div>

                        <div class="layui-form-item pr-20">
                            <label for="affiliationId" class="layui-form-label">
                                <span class="x-red">*</span>Affiliation
                            </label>
                            <div class="layui-input-block">
                                <input type="text" id="affiliationId" name="affiliation" required lay-verify="required"
                                       autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item pr-20">
                            <label for="addressId" class="layui-form-label">
                                <span class="x-red">*</span>Address
                            </label>
                            <div class="layui-input-block">
                                <input type="text" id="addressId" name="address" required lay-verify="required"
                                       autocomplete="off" class="layui-input">
                            </div>
                        </div>
						
						<div class="layui-form-item pr-20">
							<label for="dietaryId" class="layui-form-label">Dietary</label>
							<div id="dietaryId" class="layui-input-block">
								<select name="dietary" lay-filter="aihao">
								    <option value="0">Please Select</option>
									<option value="No preference">No preference</option>
								    <option value="Halal food">Halal food</option>
								    <option value="Vegetarian">Vegetarian</option>
								</select>
							</div>
						</div>

                        <div class="layui-form-item three-level-title">
                            <strong>II, Invitation Letter Information (*required)</strong>
                        </div>
						
                        <div class="layui-form-item pr-20">
							<label for="passportId" class="layui-form-label">
								Passport No.
							</label>
							<div class="layui-input-block">
								<input type="text" id="passportId" name="passport"
								autocomplete="off" class="layui-input">
							</div>
						</div>
							
                            <div class="layui-form-item pr-20">
                                <label for="birthdayId" class="layui-form-label">
                                    <span class="x-red">*</span>Date of Birth
                                </label>
                                <div class="layui-input-block">
                                    <input type="text" id="birthdayId" name="birthday" required lay-verify="required"
                                        autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        
						<div class="layui-form-item pr-20">
							<label for="arrivalId" class="layui-form-label">
								Arrival Date
							</label>
							<div class="layui-input-block">
								<input type="text" id="arrivalId" name="arrival"
								autocomplete="off" class="layui-input">
							</div>
						</div>
						
						<div class="layui-form-item pr-20">
							<label for="departureId" class="layui-form-label">
								Departure Date
							</label>
							<div class="layui-input-block">
								<input type="text" id="departureId" name="departure"
								autocomplete="off" class="layui-input">
							</div>
						</div>
						
                        <div class="layui-form-item three-level-title">
                            <strong>III, Registration Details (*required)</strong>
                        </div>
                        <div class="layui-form-item pr-20">
                            <label for="conferenceTypeId"  class="layui-form-label"><span class="x-red">*</span>Presentation Type</label>
                            <div id="conferenceTypeId" class="layui-input-block">
                                <select name="conferenceType" lay-verify="required" lay-filter="aihao">
                                    <option value="0">Please Select</option>
									<option value="Oral">Oral Presentation</option>
                                    <option value="Poster">Poster Presentation</option>
                                    <option value="Listener">Listeners</option>
                                    <option value="Company">Company / Industry</option>
                                </select>
                            </div>
                        </div>

                        <div class="layui-form-item pr-20">
                            <label for="registerTypeId"  class="layui-form-label"><span class="x-red">*</span>Registration Type</label>
                            <div id="registerTypeId" class="layui-input-block">
                                <select name="registerType" lay-verify="required" lay-filter="aihao">
									<option value="0">Please Select</option>
									<option value="Regular">Non Student-Standard-450USD (Befor Oct. 31)</option>
									<option value="Late">Non Student-Late-520USD (After Oct. 31)</option>
									<option value="Student-Regular">Student-Standard-400USD (Befor Oct. 31)</option>
									<option value="Student-Late">Student-Late-470USD (After Oct. 31)</option>
									<option value="Company-Regular">Company-Standard-600USD (Befor Oct. 31)</option>
									<option value="Company-Late">Compmany-Late-700USD (After Oct. 31)</option>
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item pr-20">
                            <label for="paymentId"  class="layui-form-label"><span class="x-red">*</span>Payment Method</label>
                            <div id="paymentId" class="layui-input-block">
                                <select name="payment" lay-verify="required" lay-filter="aihao">
                                    <option value="0">Please Select</option>
									<option value="对公转账">Bank Transfer</option>
									<option value="个人转账">PayPal</option>
									<option value="现场支付">Cash On-site (only apply for Late Registration Type)</option>
                                </select>
                            </div>
                        </div>
						<!--div class="layui-form-item pr-20">
						    <label for="paymentId"  class="layui-form-label"><span class="x-red">*</span></label>
						    <div id="paymentId" class="layui-input-block">
						        <select name="payment" lay-verify="required" lay-filter="aihao">
						            <option value="0"></option>
									<option value="无需发票">无需发票</option>
									<option value="国际发票">国际发票</option>
									<option value="国内发票">国内发票 (需额外缴纳6%税费)</option>
									<option value="暂不需要">暂时不需要，需要时再开</option>
						        </select>
						    </div>
						</div-->
                        <div class="layui-form-item pr-20">
                            <label for="issueId"  class="layui-form-label">Session</label>
                            <div id="issueId" class="layui-input-block">
                                <select name="issue" lay-filter="aihao">
                                    <option value="0">Please Select</option>
									<option value="Session 1">1. Molecular Biology</option>
									<option value="Session 2">2. Biomedicine, Biopharmaceuticals and Pharmacology</option>
									<option value="Session 3">3. Biomechanics and Biomechanical Engineering</option>
									<option value="Session 4">4. Biomaterials and Biomedical materials</option>
									<option value="Session 5">5. Biochemistry</option>
									<option value="Session 6">6. Agricultural, Food, Animal and Plant Science</option>
									<option value="Session 7">7. Other Related Topics</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item pr-20">
                            <label for="titleId" class="layui-form-label">Presentation Title</label>
                            <div class="layui-input-block">
                                <input type="text" id="titleId" name="title"
                                       autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-card-body">
                            <form class="layui-form" action="" lay-filter="component-form-element">
                                <div class="layui-row layui-col-space10 layui-form-item">
                                    <div class="layui-form-item">
                                        <div class="layui-upload">
                                            <button type="button" class="layui-btn layui-btn-normal" id="testList">Choose</button>
                                            <span class="hint"><font class="f-b">Please click "Submit" when the status changes into "Success"</font></span>
                                            <div class="layui-upload-list">
                                                <table class="layui-table">
                                                    <thead>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Capacity</th>
                                                        <th>Status</th>
                                                        <th>Operation</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody id="demoList"></tbody>
                                                </table>
                                            </div>
                                            <!--<button type="button" class="layui-btn" id="testListAction">开始上传</button>-->
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>

                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="add">Submit</button>
                            <button type="reset" class="layui-btn layui-btn-primary" onclick="cancel()">Cancel</button>
                        </div>

                    </div>

                </form>
                </form>
			</div>

    <div class="page_right col-4-1 fr mr-25">
			<div class="; lh-80" style="border-bottom: 2px dashed; border-color: #c3bfbf; padding: 10px;">
			  <ul>
			    <li><a class="pointer" href="/submit" target="_blank"><img src="../img/abstractsubmission.png" height="68px"></a></li>
			    <li><a class="pointer" href="/cn/download/ICABST-Registration-Form.xlsx" target="_blank"><img src="../img/registrationfrom.png" height="68px"></a></li>
			    <li><a class="pointer" href="/cn/download/ICABST-Abstract-Template.doc" target="_blank"><img src="../img/abstracttemplete.png" height="68px"></a></li>
			    <li><a class="pointer" href="/cn/download/ICABST-Poster-Template.pptx" target="_blank"><img src="../img/postertemplete.png" height="68px"></a></li>
			    <div class="clear"></div>
			  </ul>
			</div>
        <div class="f-24 text-center pt-20 pb-20 color-03 f-b">Important Dates</div>
				<div class="pb-10">
        <ul>
            <p>Abstract Deadline: Oct. 20, 2019</p>
			<p>Reg. Deadline: Oct. 31, 2019</p>
			<p>Acceptance: 7-10 working days</p>
			<p>Conf. Date: Dec. 26-28, 2019</p>
        </ul>
				</div>
      <div style="border-top: 2px dashed; border-bottom: 2px dashed; border-color: #c3bfbf; padding: 10px;">
        <div class="f-24 text-center pt-20 pb-20 color-03 f-b">Organizers</div>
        <ul>
            <p>Asia-Pacific Association of Natural Science and Engineering</p>
        </ul>
      </div>
        <div class="f-24 text-center pt-20 pb-20 color-03 f-b">Contact</div>
        <ul>
            <p>Secretary: Jason Sun, Alex Liu</p>
			<p>Email: icabst@apanse.com</p>
            <p>Phone: 86-0371-63226982</p>
            <p>Mobile: +86-18137471420</p>
            <p>Wechat: APANSE</p>
        </ul>
    </div>
    
    <div class="clear"></div>
  </div>


</div>

<!--footer-->
<footer class="main-footer">
  <div class="text-center lh-36 footer w-1200">
    <p style="font-family:'Times New Roman';font-weight:bold">2019 Int'l Conf. On Advances in Biological Science and Technology (ICABST2019)<br/>
		Conference Secretary: Jason Sun; Assistant: Alex Liu<br/>
		Email: icabst@apanse.com; contact@apanse.com;    Tel.: +86-0371-63226982; Cellphone: +86-18137471420<br/>Copyright © APANSE All rights reserved.
		</p>
  </div>
</footer>

<script type="text/javascript">
    var _hmt = _hmt || [];
	
    layui.use(['form', 'layer', 'upload'], function () {
        var form = layui.form
            , layer = layui.layer;
        var $ = layui.jquery
            , upload = layui.upload;

        //自定义验证规则
        form.verify({
            contractId: function (value) {
                if (value.length == '') {
                    return '合同id不能为空';
                }
            },
            contractType: function (value) {
                if (value.length == '') {
                    return '合同类型不能为空';
                }
            },
            contractName: function (value) {
                if (value.length == '') {
                    return '合同名称不能为空';
                }
            }

        });


        //监听提交
        form.on('submit(add)', function (data) {
            console.log(JSON.stringify(data.field));
            jQuery.ajax({
                type: "POST",
                data: JSON.stringify(data.field),
                dataType: "json",
                async: false,
                contentType: "application/json;charset-UTF-8",
                url: "/saveEXC",
                success: function (data) {
                    if (data.code == '000000') {
                        layer.alert("Submission Succeed", {icon: 6}, function () {
                            // 获得frame索引
                            var index = parent.layer.getFrameIndex(window.name);
                            //刷新父页面
                            window.parent.location.reload();
                            //关闭当前frame
                            parent.layer.close(index);
                        });
                    } else {
                        layer.alert("Submission Failed：" + data.message, {icon: 6});
                    }
                }
            });
            return false;
        });


        //多文件列表示例
        var demoListView = $('#demoList')
        var uploadListIns = upload.render({
            elem: '#testList'
            , url: '/cnuploadFile'
            , accept: 'file'
            , multiple: false
            , auto: true
            , size: 20480
            , bindAction: '#testListAction'
            , before: function (obj) {
                //将每次选择的文件追加到文件队列
                var files = this.files = obj.pushFile();
                //读取本地文件
                obj.preview(function (index, file, result) {
                    var tr = $(['<tr id="upload-' + index + '">'
                        , '<td>' + file.name + '</td>'
                        , '<td>' + (file.size / 1014).toFixed(1) + 'kb</td>'
                        , '<td>uploading</td>'
                        , '<td>'
                        // , '<button class="layui-btn layui-btn-xs demo-reload layui-hide">重传</button>'
                        // , '<button class="layui-btn layui-btn-xs layui-btn-danger demo-delete">删除</button>'
                        , '</td>'
                        , '</tr>'].join(''));

                    //单个重传
                    tr.find('.demo-reload').on('click', function () {
                        obj.upload(index, file);
                    });

                    //删除
                    tr.find('.demo-delete').on('click', function () {
                        delete files[index]; //删除对应的文件
                        tr.remove();
                        uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
                    });

                    demoListView.append(tr);
                });
            }
            , done: function (res, index, upload) {
                if (res.code == 0) { //上传成功
                    var tr = demoListView.find('tr#upload-' + index)
                        , tds = tr.children();
                    (document).getElementById("uploadFileUrlID").value = res.data;
                    tds.eq(2).html('<span style="color: #5FB878;">Success</span>');
                    tds.eq(3).html(''); //清空操作
                    return delete this.files[index]; //删除文件队列已经上传成功的文件
                }
                this.error(index, upload);
            }
            , error: function (index, upload) {
                var tr = demoListView.find('tr#upload-' + index)
                    , tds = tr.children();
                tds.eq(2).html('<span style="color: #FF5722;">Failed</span>');
                tds.eq(3).find('.demo-reload').removeClass('layui-hide'); //显示重传
            }
        });

    });

    function dataJson1() {
        var username = (document).getElementById("usernameId").value;
        var phone = (document).getElementById("phoneId").value;
        var str = {"username": username, "phone": phone}
        var str2 = {"nameAndPhoneVO": str};
        console.log(JSON.stringify(str2));
        return JSON.stringify(str2);
    }


    function cancel() {
        // 获得frame索引
        var index = parent.layer.getFrameIndex(window.name);
        //关闭当前frame
        parent.layer.close(index);
    }
</script>


</div>

<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>

</body>
</html>
