<!DOCTYPE html>
<html>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?79096ca0d1067db8a662de9df3dddece";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta content="width=1200" name="viewport">

  <title>Submission</title>
  <meta name="keywords" content="ICABST,submission,submit,Biotechnology,conference,bioengineering,biotechnology conference,Bangkok,Thailand,Asia,ICBB,ICBEB,ICBBE" />
  <meta name="description" content="ICABST2019 will be held in Bangkok during Dec. 26-28, 2019" />
  <meta name="robots" content="index,follow" />
  <meta http-equiv="x-dns-prefetch-control" content="on">
	<link rel="icon" href="../img/icon.png" type="image/x-icon">
  <link rel="stylesheet" href="../css/public.css"/>
  <link rel="stylesheet" href="../css/bootstrap.min.css"/>
  <link rel="stylesheet" href="../css/style.css"/>
  <link rel="stylesheet" href="../css/main-zh.css"/>
  <link rel="stylesheet" href="../css/global.css"/>
  <link rel="stylesheet" href="../lib/layui/css/layui.css">
  <script type="text/javascript" src="../lib/layui/layui.js" charset="utf-8"></script>
  <script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="../js/superslide.2.1.js"></script>
  <script type="text/javascript" src="../js/js.js"></script>
  <script type="text/javascript" src="../js/xadmin.js"></script>
</head>
<body>
<div class="width-100 all_bg">
  <!--header star-->
  <div class="header">


    <header class="img">
      <div>
        <div class="w-1200">
          <div style="width:25%;height:200px; float:left;display:inline-block;">
            <img style="width: 200px;height: 200px;" src="../img/ICABST_LOGO2.png">
          </div>
          <div style="width:75%;height:200px; float:left;display:inline-block;">
            <p class="banner_p" style="font-family:'Times New Roman'; line-height: 50px" align="right">
              International Conference on Advances in Biological<br/>
							Science and Technology<br/>
							<i>Bangkok, Thailand -- December 26-28, 2019</i>
            </p>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </header>
  </div>


   <div class="navs">
    <ul class="menus mg-ctr">
      <li><a title="ICABST2019" href="/">Home</a></li>
      <li><a title="About" href="/about">About</a></li>
      <li><a title="Organization" href="/organization">Organizer</a></li>
      <li><a title="Speaker" href="/speakers">Speaker</a></li>
      <li style="width: 140px"><a title="Submission" href="/submission">Submission</a></li>
			<li><a title="Program" href="/program">Program</a></li>
      <li style="width: 140px"><a title="Registration" href="/registration">Registration</a></li>
      <li><a title="Venue" href="/venue">Venue</a></li>
    	<li><a title="Chinese" href="/cn">CHINESE</a></li>
    </ul>
  </div>
  
</div>
<!--header end-->

<div class="w-1200 bg_white pt-30">

    <div class="page; lh-40" style="text-align: justify; font-family:'Times New Roman'; font-size: 20px">
      <div class="page_left col-6-5 fl" style="border-right: 2px dashed; border-color: #c3bfbf; padding: 10px;">
        <div class="background4" style="padding-left:55px; padding-bottom: 10px;">Submission Guideline</div>
        <div class="public_p pb-20 pl-30">
					<p>1. Abstract should be strictly within one A4 page in length apart from the cover letter page and containing about 300-350 words.</p>
					<p>2. All Submissions should be in English, and no other language is acceptable.</p>
					<p>3. Make submission by <a class="pointer" href="/submit" target="_blank" style="color: #102cf7"><u><strong>Online Submission System</strong></u></a>. All required information is needed to finish the registration.</p>
					<p>4. Or download the <a class="pointer" href="/cn/download/ICABST-Registration-Form.xlsx" target="_blank" style="color: #102cf7"><u>Registration Form</u></a>, fill the information needed and send it by email (icabst@apanse.com) with your abstract.</p>
					<p>5. After submission, the conference secretary will contact you in about 2 working days.</p>
					<p>5. All accepted abstracts will be printed in Conference Program and Abstract Book.</p>
					<p>6. Please click to download the <a class="pointer" href="/cn/download/ICABST-Abstract-Template.doc" target="_blank" style="color: #102cf7"><u><strong>"Abstract Templete"</strong></u></a>.</p>
				</div>

        <div class="background4" style="padding-left:55px; padding-bottom: 10px;">Presentation Type</div>
        <div class="public_p pb-20 pl-30">
          <p>
            <strong>Oral Presentation</strong>: Presenters will have 20-25 min (usually 17-20 min for presentation, 3-5 min for questions and answers). 
          	Speakers are requested to submit a Power Point presentation, if any, one day before the allotted time.
          </p>
          <p>
            <strong>Poster Presentation</strong>: Posters will be displayed as a portrait of A1 (594mm width ×841mm length) size. 
          	Presenters are requested to make the poster by themselves <a class="pointer" href="/cn/download/ICABST-Poster-Template.pptx" target="_blank" style="color: #102cf7"><u>(Poster Templete)</u></a> and hand it to conference secretary while check-in.
						Presenter is required to stand by his/her poster. All presenters are responsible for removing their posters after presentation time.
          </p>
          <p>
            <strong>Listeners</strong> do not need to submit any document but to finish the submission information.
					</p>
        </div>
        <div class="background4" style="padding-left:55px; padding-bottom: 10px;">Reviewing & Publishing Policies</div>
        <div class="public_p pb-20 pl-30">
          <p>
						<strong>1. Editorial Policy</strong>
						As for Abstracts only presented at the conference, the submission can be previously published or presented at other conferences.
						As for Full Paper publish in Journals, you must admit that the submission is completely original and has not been previously published nor presented.
					</p>
					<p>
						<strong>2. Copyright</strong>
						Copyright License Agreement provided by publisher will be signed when the paper is accepted.
					</p>
					<p>
						<strong>3. Peer-Review</strong>
						All abstracts/full papers will be sent for peer review by two or more experts in related fields, and the decision will return in about 7-10/15-20 working days. Possible decisions on a manuscript are: acception, revision (minor or major), rejection.
					</p>
					<p>
							<strong>4. Publication Ethics</strong>
							We firmly believe that ethical conduct is the most essential virtual of any academic. Hence any act of plagiarism is a totally unacceptable academic misconduct and cannot be tolerated.
					</p>
        </div>
      </div>

    <div class="page_right col-4-1 fr mr-25">
			<div class="; lh-80" style="border-bottom: 2px dashed; border-color: #c3bfbf; padding: 10px;">
			  <ul>
			    <li><a class="pointer" href="/submit" target="_blank"><img src="../img/abstractsubmission.png" height="68px"></a></li>
			    <li><a class="pointer" href="/cn/download/ICABST-Registration-Form.xlsx" target="_blank"><img src="../img/registrationfrom.png" height="68px"></a></li>
			    <li><a class="pointer" href="/cn/download/ICABST-Abstract-Template.doc" target="_blank"><img src="../img/abstracttemplete.png" height="68px"></a></li>
			    <li><a class="pointer" href="/cn/download/ICABST-Poster-Template.pptx" target="_blank"><img src="../img/postertemplete.png" height="68px"></a></li>
			    <div class="clear"></div>
			  </ul>
			</div>
        <div class="f-24 text-center pt-20 pb-20 color-03 f-b">Important Dates</div>
				<div class="pb-10">
        <ul>
            <p>Abstract Deadline: Oct. 20, 2019</p>
						<p>Reg. Deadline: Oct. 31, 2019</p>
						<p>Acceptance: 7-10 working days</p>
						<p>Conf. Date: Dec. 26-28, 2019</p>
        </ul>
				</div>
      <div style="border-top: 2px dashed; border-bottom: 2px dashed; border-color: #c3bfbf; padding: 10px;">
        <div class="f-24 text-center pt-20 pb-20 color-03 f-b">Organizers</div>
        <ul>
            <p>Asia-Pacific Association of Natural Science and Engineering</p>
        </ul>
      </div>
        <div class="f-24 text-center pt-20 pb-20 color-03 f-b">Contact</div>
        <ul>
            <p>Secretary: Jason Sun, Alex Liu</p>
						<p>Email: icabst@apanse.com</p>
            <p>Phone: 86-0371-63226982</p>
            <p>Mobile: +86-18137471420</p>
            <p>Wechat: APANSE</p>
        </ul>
    </div>
      
      <div class="clear"></div>


    </div>

  </div>

<!--footer-->
<footer class="main-footer">
  <div class="text-center lh-36 footer w-1200">
    <p style="font-family:'Times New Roman';font-weight:bold">2019 Int'l Conf. On Advances in Biological Science and Technology (ICABST2019)<br/>
		Conference Secretary: Jason Sun; Assistant: Alex Liu<br/>
		Email: icabst@apanse.com; contact@apanse.com;    Tel.: +86-0371-63226982; Cellphone: +86-18137471420<br/>Copyright © APANSE All rights reserved.
		</p>
  </div>
</footer>


</div>
</body>
</html>


