<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=1200" name="viewport">

  <title>Venue</title>
  <meta name="keywords" content="Venue"/>
  <meta name="description" content="Venue"/>
	<link rel="icon" href="../img/icon.png" type="image/x-icon">
  <link rel="stylesheet" href="../css/public.css"/>
  <link rel="stylesheet" href="../css/bootstrap.min.css"/>
  <link rel="stylesheet" href="../css/style.css"/>
  <link rel="stylesheet" href="../css/main-zh.css"/>
  <link rel="stylesheet" href="../css/global.css"/>
  <link rel="stylesheet" href="../lib/layui/css/layui.css">
  <script type="text/javascript" src="/lib/layui/layui.js" charset="utf-8"></script>
  <script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="../js/superslide.2.1.js"></script>
  <script type="text/javascript" src="../js/js.js"></script>
</head>
<body>
<div class="width-100 all_bg">
  <!--header star-->
  <div class="header">



    <header class="img">
      <div>
        <div class="w-1200">
          <div style="width:25%;height:200px; float:left;display:inline-block;">
            <img style="width: 200px;height: 200px;" src="../img/ICABST_LOGO2.png">
          </div>
          <div style="width:75%;height:200px; float:left;display:inline-block;">
            <p class="banner_p" style="font-family:'Times New Roman'; line-height: 50px" align="right">
              International Conference on Advances in Biological<br/>
							Science and Technology<br/>
							<i>Bangkok, Thailand -- December 26-28, 2019</i>
            </p>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </header>
  </div>


   <div class="navs">
    <ul class="menus mg-ctr">
      <li><a title="ICABST2019" href="/">Home</a></li>
      <li><a title="About" href="/about">About</a></li>
      <li><a title="Organization" href="/organization">Organizer</a></li>
      <li><a title="Speaker" href="/speakers">Speaker</a></li>
      <li style="width: 140px"><a title="Submission" href="/submission">Submission</a></li>
			<li><a title="Program" href="/program">Program</a></li>
      <li style="width: 140px"><a title="Registration" href="/registration">Registration</a></li>
      <li><a title="Venue" href="/venue">Venue</a></li>
    	<li><a title="Chinese" href="/cn">CHINESE</a></li>
    </ul>
  </div>
  
</div>
<!--header end-->

<div class="w-1200 bg_white pt-30">
	<div class="page; lh-40" style="border: 2px dashed; border-color: #c3bfbf; padding: 10px; text-align: justify; font-family:'Times New Roman'; font-size: 20px">
    <div class="page_left col-6-6" style="border-bottom: 2px dashed; border-color: #c3bfbf; padding: 10px;">
      <div class="background3" style="padding-left:80px; line-height: 60px; padding-bottom: 8px;">&nbsp;&nbsp;Venue</div>
      <div class="public_p pb-20 pl-30">
				<p class="f-b">Hotel Name: The Tawana Bangkok, <a class="pointer" href=" http://www.tawanabangkok.com/" style="color: #102cf7" target="_blank"><u>http://www.tawanabangkok.com/ </u></a><br/>
				Address: 80 Surawongse Road, Bangrak, Bankok 10500 Thailand<br/>
				Conference Room: Murano Room<br/>
				You could book the room by <a href="https://www.booking.com/hotel/th/tawana.zh-cn.html?aid=1633942;label=baidu-brand-list1;sid=a0ff97e5e37d5edbc4ed57d5453febf3;dest_id=-3414440;dest_type=city;dist=0;hapos=1;hpos=1;room1=A%2CA;sb_price_type=total;sr_order=popularity;srepoch=1560999642;srpvid=de89152dd7440131;type=total;ucfs=1&#hotelTmpl" style="color: #102cf7" target="_blank"><u>www.booking.com</u></a>
				</p>
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Tawana Bangkok on Surawongse Road is renowned not only for its high standard of efficient and friendly service but also for its prime downtown location. 
					For leisure and holiday guests, the hotel's central location affords convenient travel to most of Bangkok's finest shopping, sightseeing attractions and entertainment facilities as well as being just footsteps away from the city's skytrain BTS Silom (Saladaeng Station) and MRT subway Rama 4 (Samyan Station).
					To meet the demands of the business traveler, The Tawana Bangkok offers unrivaled advantages. The fully equipped Business Center at the lobby provides the busy executive with the convenience of a secretary and a Boardroom for meetings. Hi-Speed WiFi (Wireless Internet) is available throughout the hotel, allowing "connection" in the guestroom, at the poolside, restaurants, or hotel's Lobby. 
					</p>
					<ul>
						<li><img src="../img/meeting-events-01.jpg" height="400px"><img src="../img/meeting-events-02.jpg" height="400px"><img src="../img/meeting-events-03.jpg" height="400px" width="299px"><img src="../img/meeting-events-04.jpg" height="400px" width="601px"></li>
						<div class="clear"></div>
						</ul>
				</div>
      </div>
    <div style="border-bottom: 2px dashed; border-color: #c3bfbf; padding: 10px">
			<div class="background3" style="padding-left:80px; line-height: 60px; padding-bottom: 8px;">Path</div>
        <div class="public_p pl-30">
				<p>
					<strong>1. From Suvarnabhumi Airport: </strong><br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;①Take Airport Express Line to <strong>Phaya Thai station</strong><br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;②Then transfer BTS Sukhumvit Line (Kheha direction) to <strong>Siam station</strong><br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;③Then transfer BTS Silom Line(Bangwa direction) to <strong>Sala Daeng Station</strong><br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;④Walk to <strong>The Tawana Bangkok</strong>
				</p>
				<p>
					<strong>2. From Don Mueang International Airport: only bus could be taken by the arrvial gate 6</strong><br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Take A1 bus to Chatuchak station, and transfer BTS<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Take A2 bus to Victory Monument station, and transfer BTS<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Take A3 bus to Lumphini Park station, and transfer MRT<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Take A4 bus to Sanamluang station, no BTS nor MRT, but close to view spots like Grand Palace<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A5 bus is running to Future Park Rangsit station which is in opposite direction to downtown
				</p>
				<p><strong>3. Please tell the driver "by meter" if you would like to take a taxi</strong></p>
				<p><strong>4. Here is the map of BTS Path Line, for your reference</strong>
				<ul>
					<li><img src="../img/bts_map.jpg"/></li>
				</ul>
		</div>
		</div>
			<div class="background3" style="padding-left:80px; line-height: 60px; padding-bottom: 8px;">Visa Information</div>
			<div class="public_p pl-30">
					<p>1. Generally, a foreign citizen who wishes to enter the Kingdom of Thailand is required to obtain a visa from a Royal Thai Embassy or a Royal Thai Consulate-General.  However, nationals of certain countries do not require a visa if they meet visa exemption requirements as follows:</p>
					<p>1.1) They are nationals of countries which are exempted from visa requirements when entering Thailand for tourism purposes.  Such nationals will be permitted to stay in the Kingdom for a period of not exceeding 30 days. For more information, please see Summary of Countries and Territories entitled for Visa Exemption and Visa on Arrival to Thailand. </p>
					<p>1.2) They are nationals of countries which hold bilateral agreements with Thailand on the exemption of visa requirements.  For more information, please see Summary of Countries and Territories entitled for Visa Exemption and Visa on Arrival to Thailand. </p>
					<p>2. Nationals of certain countries may apply for visa upon arrival in Thailand. Travelers with this type of visa are permitted to enter and stay in Thailand for a period of not exceeding 15 days.  For more information, please see Summary of Countries and Territories entitled for Visa Exemption and Visa on Arrival to Thailand. </p>
					<p>For more information, please contact <a class="pointer" href=" http://www.thaiembassy.org/main/" style="color: #102cf7" target="_blank"><u>Thai Embassy and Consulate</u></a> in your country. </p>
    <div class="clear"></div>
  </div>
	</div>
</div>

<!--footer-->
<footer class="main-footer">
  <div class="text-center lh-36 footer w-1200">
    <p style="font-family:'Times New Roman';font-weight:bold">2019 Int'l Conf. On Advances in Biological Science and Technology (ICABST2019)<br/>
		Conference Secretary: Jason Sun; Assistant: Alex Liu<br/>
		Email: icabst@apanse.com; contact@apanse.com;    Tel.: +86-0371-63226982; Cellphone: +86-18137471420<br/>Copyright © APANSE All rights reserved.
		</p>
  </div>
</footer>


<script type="text/javascript">
  var _hmt = _hmt || [];
  (function () {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?1b2a9aec4c523c4bf017a7fdc9333187";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
</script>


</div>
</body>
</html>
