<!DOCTYPE html>
<html>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?79096ca0d1067db8a662de9df3dddece";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />  
  <title>EI/CPCI会议论文发表|大会征文--2019国际前沿生物科学与技术国际会议(ICABST2019),泰国生物会议</title>
  <meta name="keywords" content="ICABST,ICABST2019,biotechnology,biomaterial,biomedical,大会征文,生物会议,曼谷,泰国,国际,会议,生物技术,生物工程,学术会议,SCI正刊,SCI摘要,EI会议,CPCI,ISTP" />
  <meta name="description" content="ICABST,2019国际前沿生物科学与技术国际会议将在12月底于曼谷召开,会议可安排SCI/EI期刊论文发表" />
  <meta name="robots" content="index,follow" />
  <meta http-equiv="x-dns-prefetch-control" content="on">
	<link rel="icon" href="../img/icon.png" type="image/x-icon">
  <link rel="stylesheet" href="../css/public.css"/>
  <link rel="stylesheet" href="../css/bootstrap.min.css"/>
  <link rel="stylesheet" href="../css/style.css"/>
  <link rel="stylesheet" href="../css/main-zh.css"/>
  <link rel="stylesheet" href="../css/global.css"/>
  <link rel="stylesheet" href="../lib/layui/css/layui.css">
  <script type="text/javascript" src="../lib/layui/layui.js" charset="utf-8"></script>
  <script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="../js/superslide.2.1.js"></script>
  <script type="text/javascript" src="../js/js.js"></script>
  <script type="text/javascript" src="../js/xadmin.js"></script>
</head>
<body>
<div class="width-100 all_bg">
  <!--header star-->
  <div class="header">


    <header class="img">
      <div>
        <div class="w-1200">
          <div style="width:40%;height:200px; float:left;display:inline-block;">
            <img style="width: 200px;height: 200px;" src="../img/ICABST_LOGO2.png">
						<!--img style="width: 180px;height: 180px;" src="../img/MaejoUniversityLogo.png"-->
          </div>
          <div style="width:60%;height:200px; float:left;display:inline-block;">
            <p class="banner_p" style="font-family:'Times New Roman'; line-height: 50px" align="right">
              2019国际前沿生物科学与技术国际会议<br/>(ICABST2019)<br/>
              <i>泰国(曼谷)----2019年12月26日-28日</i>
            </p>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </header>
  </div>


  <div class="navs">
    <ul class="menus mg-ctr">
      <li><a title="ICABST2019首页" href="/cn">ICABST</a></li>
      <li><a title="ICABST2019大会详情" href="/cn/about">大会详情</a></li>
      <li><a title="ICABST2019组织机构" href="/cn/organization">组织机构</a></li>
      <li><a title="ICABST2019特邀嘉宾" href="/cn/speakers">参会嘉宾</a></li>
      <li><a title="ICABST2019会议日程" href="/cn/program">会议日程</a></li>
      <li><a title="ICABST2019大会征文" href="/cn/cfp">大会征文</a></li>
      <li><a title="ICABST2019参会注册" href="/cn/registration">参会注册</a></li>
      <li><a title="ICABST2019会议地点" href="/cn/venue">会议地点</a></li>
  		<li><a title="ICABST2019英文版" href="/">English</a></li>
    </ul>
  </div>
  
</div>
<!--header end-->

<div class="w-1200 bg_white pt-30">

  <div class="page; f-20 lh-40" style="text-aligh: justify; font-family:'Times New Roman';">
    <div class="page_left col-6-5 fl" style="border-right: 2px dashed; border-color: #c3bfbf; padding: 10px;">
      <div class="public_p pb-20">
        <article class="row-txt">
          <p style="text-align: center; font-size: 22px">
            <strong>EI及CPCI检索，会议论文专题<br/>2019年年底截稿，快速发表</strong>
          </p>
          <div class="mb-10">
            <p>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2019国际前沿生物科学与技术国际会议将于2019年12月26日-28日在泰国曼谷召开。本届会议由亚太自然科学与工程协会、梅州大学（Maejo University）联合主办召开，
							并由玛希隆大学（Mahidol University），清迈大学（Chiang Mai University）提供协办支持。同时大会被Nature Events （www.nature.com）、ACS、MEMBS、BrownWalker Press、IOP Publishing、
							丁香会议、科学网等多个学术平台收录并发布。在举办学术会议的同时，联合国际知名出版社进行会议及期刊论文的征文和发表活动，历年来已成功帮助国内众多学者完成论文的发表和检索工作。<br/>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;意向发表会议论文的文章，会由大会学术委员会进行评审，接收的论文将安排送交出版（含ISSN，DOI），并提交EI-Compendex（EI检索）及CPCI-S（ISTP检索）数据库收录。
							发表EI检索及ISTP检索的论文，对国内高校教师的职称评定、硕博士生的学分累计、毕业、出国留学等具有举足轻重的影响。如您有意向发表相关领域学术论文，请尽快提交稿件。（检索范例请见页尾）<br/>
			</p>
			
          </div>
					<div class="mb-10">
            <strong>一、发表介绍</strong>
						<div class="public_p pl-30">
			<p>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>出版物：</strong>IOP Conference Series: Earth and Environmental Science<br/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>出版国家：</strong>英国（United Kingdom）<br/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>ISSN：</strong>1755-1307<br/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>发表检索：</strong>2020年1月底前后发表，并在发表后2个月完成检索<br/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>投稿截止：</strong>本批次征文将于12月15日截止<br/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>数据库收录：</strong>EI数据库（EI-Compendex） ISTP数据库（CPCI-S）<br/>
			</p>
            </div>
							
            
          </div>
          <div class="mb-10">
            <strong>二、投稿方式</strong>
						<div class="pl-23">
            <p>1. <a class="pointer" href="/cn/article" target="_blank" style="color: #102cf7"><u><strong>点击进入在线投稿链接(初始文档需小于10MB)</strong></u></a><br/>
              2. 直接将文章发至投稿邮箱editor@apanse.com（注明文章表类型，如“EI会议论文”）
            </p>
						</div>
          </div>
          <div class="mb-10">
          <div class="mb-10">
            <strong>三、会议论文投稿说明</strong>
						<div class="pl-23">
            <p>
				1. 所有投稿文章需承诺无一稿多投，未在其他期刊或会议上公开发表；<br/>
				2. 初稿需为word文档，中英文均可（终稿必须为英文），不限篇幅；如有图表，则图表分辨率在300dpi以上或作为独立附件提交；<br/>
				3. 初稿无需排版，在文章通过审核后，会根据目标期刊的要求提供模板文件，届时完成排版即可；<br/>
				4. 同一第一作者投稿不可超过三篇；如有同一单位学者组织投稿，可提前与我方沟通团体发表方式及优惠，并预约版面<br/>
				5. 我方负责文章的全权录用，最终没有发表的论文，费用全部原路退回<br/>
				6. 我方鼓励学者参会，如投稿作者无法到场，也可找人替代或放弃参加会议（不会影响文章的发表和检索）<br/>
				7. 我方可提供版面费发票（国内外正规发票），如需期刊出版方提供的国际Invoice，请提前说明<br/>
            </p>
            </div>
					</div>
          <div class="mb-10">
            <strong>四、联系方式</strong>
            <p>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;责任编辑：孙老师<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;投稿邮箱：editor@apanse.com<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;咨询电话：0371-63226982；18137471420<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;咨询QQ：3475177122<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;微信公众号：APANSE<br/>
            </p>
          </div>
		
		<div class="mb-10">
		  <strong>五、检索范例</strong>
		  <p>
			<ul>
			<li><img src="../img/CPCI1.png" height="1000px"></li>
			<li><img src="../img/CPCI2.png" height="1000px"></li>
			<li><img src="../img/CPCI3.png" height="1000px"></li>
			<div class="clear"></div>
			</ul>
		  </p>
		</div>
        </article>
      </div>

    </div>
    <div class="page_right col-4-1 fr mr-25">
			<div class="; lh-80" style="border-bottom: 2px dashed; border-color: #c3bfbf; padding: 10px;">
			  <ul>
			    <li><a class="pointer" href="/cn/submit" target="_blank"><img src="../img/conference2.png" height="68px"></a></li>
					<li><a class="pointer" href="/cn/article" target="_blank"><img src="../img/conferencearticle2.png" height="68px"></a></li>
					<li><a class="pointer" href="/cn/article" target="_blank"><img src="../img/journalarticle2.png" height="68px"></a></li>
			    <div class="clear"></div>
			  </ul>
			</div>
        <div class="f-24 text-center pt-20 pb-20 color-03 f-b">重要日期</div>
				<div class="pb-10">
        <ul>
            <p>摘要投稿: 2019年11月20日截止</p>
            <p>全文投稿: 本批次7月30日截止</p>
            <p>会议日期:2019年12月26日-28日</p>
						<p>参会注册截止: 2019年11月30日</p>
        </ul>
				</div>
      <div style="border-top: 2px dashed; border-bottom: 2px dashed; border-color: #c3bfbf; padding: 10px;">
        <div class="f-24 text-center pt-20 pb-20 color-03 f-b">组织机构</div>
        <ul>
            <p>亚太自然科学与工程协会</p>
        </ul>
      </div>
        <div class="f-24 text-center pt-20 pb-20 color-03 f-b">联系我们</div>
        <ul>
            <p>联系人：孙老师，刘老师</p>
			<p>会务邮箱：icabst@apanse.com</p>
            <p>投稿邮箱：editor@apanse.com</p>
            <p>咨询电话：0371-63226982</p>
            <p>手机号码：18137471420</p>
            <p>咨询QQ：3475177122</p>
            <p>微信公众号：APANSE</p>
        </ul>
    </div>
    
    <div class="clear"></div>


  </div>

</div>

<!--footer-->
<footer class="main-footer">
  <div class="text-center lh-36 footer w-1200">
    <p style="font-family:'Times New Roman';font-weight:bold">2019 Int'l Conf. On Advances in Biological Science and Technology (ICABST2019)<br/>
		Conference Secretary: Jason Sun; Assistant: Alex Liu<br/>
		Email: icabst@apanse.com; contact@apanse.com;    Tel.: +86-0371-63226982; Cellphone: +86-18137471420<br/>Copyright © APANSE All rights reserved.
		</p>
  </div>
</footer>


</div>

<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>

</body>
</html>