<!DOCTYPE html>
<html>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?79096ca0d1067db8a662de9df3dddece";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />  
  <title>SCI摘要专题|大会征文--2019国际前沿生物科学与技术国际会议(ICABST2019),泰国生物会议</title>
  <meta name="keywords" content="ICABST,ICABST2019,biotechnology,biomaterial,biomedical,大会征文,生物会议,曼谷,泰国,国际,会议,生物技术,生物工程,学术会议,SCI正刊,SCI摘要,EI会议,CPCI,ISTP" />
  <meta name="description" content="ICABST,2019国际前沿生物科学与技术国际会议将在12月底于曼谷召开,会议可安排SCI/EI期刊论文发表" />
  <meta name="robots" content="index,follow" />
  <meta http-equiv="x-dns-prefetch-control" content="on">
	<link rel="icon" href="../img/icon.png" type="image/x-icon">
  <link rel="stylesheet" href="../css/public.css"/>
  <link rel="stylesheet" href="../css/bootstrap.min.css"/>
  <link rel="stylesheet" href="../css/style.css"/>
  <link rel="stylesheet" href="../css/main-zh.css"/>
  <link rel="stylesheet" href="../css/global.css"/>
  <link rel="stylesheet" href="../lib/layui/css/layui.css">
  <script type="text/javascript" src="../lib/layui/layui.js" charset="utf-8"></script>
  <script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="../js/superslide.2.1.js"></script>
  <script type="text/javascript" src="../js/js.js"></script>
  <script type="text/javascript" src="../js/xadmin.js"></script>
</head>
<body>
<div class="width-100 all_bg">
  <!--header star-->
  <div class="header">


    <header class="img">
      <div>
        <div class="w-1200">
          <div style="width:40%;height:200px; float:left;display:inline-block;">
            <img style="width: 200px;height: 200px;" src="../img/ICABST_LOGO2.png">
						<img style="width: 180px;height: 180px;" src="../img/MaejoUniversityLogo.png">
          </div>
          <div style="width:60%;height:200px; float:left;display:inline-block;">
            <p class="banner_p" style="font-family:'Times New Roman'; line-height: 50px" align="right">
              2019国际前沿生物科学与技术国际会议<br/>(ICABST2019)<br/>
              <i>泰国(曼谷)----2019年12月26日-28日</i>
            </p>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </header>
  </div>


  <div class="navs">
    <ul class="menus mg-ctr">
      <li><a title="ICABST2019首页" href="/cn">ICABST</a></li>
      <li><a title="ICABST2019大会详情" href="/cn/about">大会详情</a></li>
      <li><a title="ICABST2019组织机构" href="/cn/organization">组织机构</a></li>
      <li><a title="ICABST2019特邀嘉宾" href="/cn/speakers">参会嘉宾</a></li>
      <li><a title="ICABST2019会议日程" href="/cn/program">会议日程</a></li>
      <li><a title="ICABST2019大会征文" href="/cn/cfp">大会征文</a></li>
      <li><a title="ICABST2019参会注册" href="/cn/registration">参会注册</a></li>
      <li><a title="ICABST2019会议地点" href="/cn/venue">会议地点</a></li>
  		<li><a title="ICABST2019英文版" href="/">English</a></li>
    </ul>
  </div>
  
</div>
<!--header end-->

<div class="w-1200 bg_white pt-30">

  <div class="page; f-20 lh-40" style="text-aligh: justify; font-family:'Times New Roman';">
    <div class="page_left col-6-5 fl" style="border-right: 2px dashed; border-color: #c3bfbf; padding: 10px;">
      <div class="public_p pb-20">
        <article class="row-txt">
          <p style="text-align: center; font-size: 22px">
            <strong>SCI摘要专题发表--中科院三区，影响因子2以上，JCR二区，<br/>快速发表，确保SCI检索（检索范例请见页尾）</strong>
          </p>
          <div class="mb-10">
            <p>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>我方历年安排发表的SCI摘要均已完成检索（检索范例请于页尾查看），2019年上半年批次SCI摘要已完成发表，下半年批次仍在持续收稿中。</strong><br/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SCI摘要（Meeting Abstract）作为近几年的热门发表方式，具有易撰写、发表快、检索快、认可度高等特点<br/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>易撰写：</strong>200-300个英文单词即可（我方可提供翻译）；可将已发表过的论文精炼修改后再发表（需修改题目），也可将未发表的论文精简后发表（不会影响全文的发表）<br/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>发表快：</strong>我方负责全权录用--一经录用即可确保发表<br/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>检索收录快：</strong>文章发表后最快将在2个月内完成SCI检索收录<br/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>较高认可度：</strong>满足评定文件中“发表SCI收录的学术论文”的条件（细则请参见贵单位评定认定文件，或咨询贵单位科研处/人事处）<br/>
			</p>
			
          </div>
					<div class="mb-10">
            <strong>一、期刊介绍</strong>
						<div class="public_p pl-30">
			<p>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>期刊名称：</strong>Basic & Clinical Pharmacology & Toxicology<br/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>期刊ISSN：</strong>1742-7835<br/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>影响因子：</strong>2.45（最新JCR发布）<br/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>期刊分区：</strong>中科院分区三区，JCR分区Q2<br/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>发表检索：</strong>本批次征稿将在12月底前后发表，并在明年2月份前完成检索<br/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>文章模板：</strong><a href="/cn/download/ICABST-Abstract-Template.doc" target="_blank" style="color: #102cf7"><u>点击下载摘要模板</u></a><br/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>投稿截止：</strong>本批次征文将于11月30日截止<br/>
			</p>
            </div>
							
            
          </div>
          <div class="mb-10">
            <strong>二、投稿方式</strong>
						<div class="pl-23">
            <p>1. <a class="pointer" href="/cn/article" target="_blank" style="color: #102cf7"><u><strong>点击进入在线投稿链接(初始文档需小于10MB)</strong></u></a><br/>
              2. 直接将文章发至投稿邮箱editor@apanse.com（注明文章表类型，如“SCI摘要发表”）
            </p>
						</div>
          </div>
          <div class="mb-10">
          <div class="mb-10">
            <strong>三、SCI摘要投稿必读</strong>
						<div class="pl-23">
            <p>
				1. 字数在300-350words左右，篇幅控制在一页以内，<a href="/cn/download/ICABST-Abstract-Template.doc" target="_blank" style="color: #102cf7"><u>点击下载摘要模板</u></a><br/>
				2. 可将已发表过的论文精炼修改后再发表（需修改题目），也可将未发表的论文精简后发表（不会影响全文的发表）<br/>
				3. 投稿SCI摘要无需参会（但我方鼓励学者参会），参会与否，文章都会正常发表和检索<br/>
				4. 同一第一作者投稿不可超过三篇；如有同一单位学者组织投稿，可提前与我方沟通团体发表方式及优惠，并预约版面<br/>
				5. 发表流程：（在文章录用后缴纳，不发表不收费）投稿初稿→审稿反馈→录用排版→签订协议并缴费→清样校对和发表→SCI检索<br/>
				6. 在文章完成SCI检索后，如有需要，可联系我方编辑部免费提供检索证明（一级单位开具，真实有效）<br/>
				7. 我方可提供版面费发票（国内外正规发票），如需要出版方提供发票，请提前告知<br/>
            </p>
            </div>
					</div>
          <div class="mb-10">
            <strong>四、联系方式</strong>
            <p>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;责任编辑：孙老师<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;投稿邮箱：editor@apanse.com<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;咨询电话：0371-63226982；18137471420<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;咨询QQ：3475177122<br/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;微信公众号：APANSE<br/>
            </p>
          </div>
		
		<div class="mb-10">
		  <strong>五、检索范例</strong>
		  <p>
			<ul>
			<li><img src="../img/SCI摘要记录1.png" height="1000px"></li>
			<li><img src="../img/SCI摘要记录2.png" height="1000px"></li>
			<li><img src="../img/SCI摘要记录3.png" height="800px"></li>
			<div class="clear"></div>
			</ul>
		  </p>
		</div>
        </article>
      </div>

    </div>
    <div class="page_right col-4-1 fr mr-25">
			<div class="; lh-80" style="border-bottom: 2px dashed; border-color: #c3bfbf; padding: 10px;">
			  <ul>
			    <li><a class="pointer" href="/cn/submit" target="_blank"><img src="../img/conference2.png" height="68px"></a></li>
					<li><a class="pointer" href="/cn/article" target="_blank"><img src="../img/conferencearticle2.png" height="68px"></a></li>
					<li><a class="pointer" href="/cn/article" target="_blank"><img src="../img/journalarticle2.png" height="68px"></a></li>
			    <div class="clear"></div>
			  </ul>
			</div>
        <div class="f-24 text-center pt-20 pb-20 color-03 f-b">重要日期</div>
				<div class="pb-10">
        <ul>
            <p>摘要投稿: 2019年10月20日截止</p>
            <p>全文投稿: 本批次7月30日截止</p>
            <p>会议日期:2019年12月26日-28日</p>
			<p>参会注册截止: 2019年10月31日</p>
        </ul>
				</div>
      <div style="border-top: 2px dashed; border-bottom: 2px dashed; border-color: #c3bfbf; padding: 10px;">
        <div class="f-24 text-center pt-20 pb-20 color-03 f-b">组织机构</div>
        <ul>
            <p>亚太自然科学与工程协会</p>
						<p>泰国梅州大学(Maejo University)</p>
        </ul>
      </div>
        <div class="f-24 text-center pt-20 pb-20 color-03 f-b">联系我们</div>
        <ul>
            <p>联系人：孙老师，刘老师</p>
			<p>会务邮箱：icabst@apanse.com</p>
            <p>投稿邮箱：editor@apanse.com</p>
            <p>咨询电话：0371-63226982</p>
            <p>手机号码：18137471420</p>
            <p>咨询QQ：3475177122</p>
            <p>微信公众号：APANSE</p>
        </ul>
    </div>
    
    <div class="clear"></div>


  </div>

</div>

<!--footer-->
<footer class="main-footer">
  <div class="text-center lh-36 footer w-1200">
    <p style="font-family:'Times New Roman';font-weight:bold">2019 Int'l Conf. On Advances in Biological Science and Technology (ICABST2019)<br/>
		Conference Secretary: Jason Sun; Assistant: Alex Liu<br/>
		Email: icabst@apanse.com; contact@apanse.com;    Tel.: +86-0371-63226982; Cellphone: +86-18137471420<br/>Copyright © APANSE All rights reserved.
		</p>
  </div>
</footer>


</div>

<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>

</body>
</html>


